{% include "Header.html" %}
<div class="container-fluid bg-dark">

    <div class="container text-white"><br><br>
        <a href="/" style='padding-top: 10%;' >
            <img src="/static/turn-back.png" width="40rem"> Back
        </a>
        <center><h1>WORK EXPERIENCE</h1></center>

        

        <br>
    </div>
    
    
</div>


<div align="center" class="container-fluid  " style="background-color:transparent;">
    
    <div   class="text-start p-5 " >  
        <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Computer Operator</div>
                I.S.B.T ANAND VIHAR
              </div>
              <span class="badge bg-primary rounded-pill">8 Months</span>
            </li>
    

            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Server Control Room Operator</div>
                    I.S.B.T SARI KALE KHAN
              </div>
              <span class="badge bg-primary rounded-pill">6 Months</span>
            </li>
    
            
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Online Seller Account Management</div>
                    GENC INDIA 
              </div>
              <span class="badge bg-primary rounded-pill">2 Years</span>
            </li>
    
    
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Website Design & Management</div>
                    SHOPIFY SHOPPING (Mapping AliExpress)
                </div>
                <span class="badge bg-primary rounded-pill">2 Months</span>
              </li>
    
          </ol>
    </div>
</div>
{% include "footer.html" %}

